.book-list {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0.5em;
    max-width: 60%;
  }

  .book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.book {
  display: flex;
  flex-direction: row;
  height: 200px;
  padding: 1rem;
  border: 1px solid #b62d38;
  border-radius: 15px;
  margin: 10px;
}

img {
  object-fit: contain;
  height: 200px;
}

.book-info {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.book-year {
  font-size: 1.2rem;
}

.book-title-CN {
  color: #b62d38;
  font-weight: bold;
  font-size: 1.1rem;
}

.book-title-pinyin {
}

.book-price {
  margin-top:auto;
}
